[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
pdoc3 = "*"
pytest = "*"
pyfakefs = "*"
requests_mock = "*"
paramiko = "*"

[packages]
pymongo = "*"
hyperopt = "*"
keras = "==2.2.4"
tensorflow = "==1.14.0"
librosa = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
requests = "*"
wget = "*"
toolbench = {editable = true,git = "https://github.com/samhiatt/toolbench.git"}
matplotlib = "*"

[requires]
python_version = "3.6"
